<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="/home">首頁</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li routerLinkActive="active">
        <a class="nav-link" routerLink="/blog">部落格</a>
      </li>
      <li routerLinkActive="active">
        <a class="nav-link" routerLink="/about">關於我</a>
      </li>
      <li routerLinkActive="active">
        <a class="nav-link" routerLink="/users">使用者</a>
      </li>
      <li routerLinkActive="active">
        <a class="nav-link" routerLink="/messages">訊息通知</a>
      </li>
    </ul>
  </div>
</nav>
