@import url(https://fonts.googleapis.com/earlyaccess/notosanssc.css);
html,
body {
    /* padding: 20px; */
    /* font-family: Noto Sans CJK SC, Source Han Sans SC, Source Han Sans CN, sans-serif; */
    letter-spacing: 2px
}

button.btn {
    background: transparent;
    color: #000;
    margin: 4px;
    border-width: 2px;
    border-radius: 9px
}
