@import url(https://fonts.googleapis.com/earlyaccess/notosanssc.css);
html,
body {
    padding: 20px;
    /* font-family: Noto Sans CJK SC, Source Han Sans SC, Source Han Sans CN, sans-serif; */
    letter-spacing: 2px
}

@media(min-width:768px) {
    body {
        padding: 50px 150px;
    }
}
